@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* Gemeral */

:root{
  scroll-behavior: smooth;
  --primary:#4154f1;
  --second:#717ff5;
  --bgColor:#f6f9ff;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans", sans-serif;
  color: #444444 !important;
  background: var(--bgColor) !important;
}
a{
  color: var(--primary)!important;
  text-decoration: none !important;
  cursor: pointer !important;
}
a:hover{
  color: var(--second) !important;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Nunito', sans-serif !important;
}

